@import '../base/variables.scss';

///////////////////////////////////////// v-main ///////////////////////////////////////////
.v-main{margin-bottom:56px;}

///////////////////////////////////////// LOGIN ///////////////////////////////////////////

#login-layout{
  .title-area{
    h1{}
    span{}
  }
  .login-area{
    >div{width:100%;}
  }
}

//스크롤
// .scroll-event{
//   height: 150px;
//   display: block;
//   width: 100%;
//   overflow-y: scroll;
//   .today-card{
//     height: 400px;
//     overflow: hidden;}
// }


///////////////////////////////////////// FOOTER ///////////////////////////////////////////
.v-btn {
  &.v-btn--active{
    > .v-btn__content{
      span, .v-icon{color:$MAIN_COLOR;}
    }  
  }
}

.v-btn{
  &:before{background-color:#fff !important;}
}

.v-item-group{
  &.v-bottom-navigation{
    .v-btn{max-width:auto; min-width:auto; color:Red !important; padding:0;}
  } 
} 

.v-item-group{
  &.v-bottom-navigation{
    .todo-plus{
      position: absolute; top:-30px; width:55px; height:55px; 
      border-radius: 50%; border:1px solid #ddd; display: block;
      background: linear-gradient(90deg, rgba(198,178,236,1) 0%, rgba(156,156,234,1) 56%, rgba(145,134,223,1) 100%) !important;
      span{font-size: 2rem; font-weight: 300; color: #fff;}
    }
  }  
}
